<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <script src="https://www.gstatic.com/firebasejs/8.2.2/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.2.2/firebase-analytics.js"></script>
    <script src="https://www.gstatic.com/firebasejs/7.16.1/firebase-auth.js"></script>
    <link rel="stylesheet" href="/static/load/loader.css">
    <link rel="stylesheet" href="/static/auth/css/googleSignIn.css">
</head>
<body>
    {% block header %}{% endblock %}
    <div class="loader" id="loader"></div>
    <section id="whenSignedOut">
        
        <img src="/static/auth/images/google/blue.png" alt="Sign In With Google" id="signInBtn">
    
    </section>
    
    <section id="whenSignedIn" hidden="true">
    
        <div id="userDetails"></div>
    
        <button id="signOutBtn">Sign Out</button>
    
    </section>
    {% block content %}{% endblock %}

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css" integrity="sha512-8bHTC73gkZ7rZ7vpqUQThUDhqcNFyYi2xgDgPDHc+GXVGHXq+xPjynxIopALmOPqzo9JZj0k6OqqewdGO3EsrQ==" crossorigin="anonymous" />
    <script
    src="https://code.jquery.com/jquery-3.1.1.min.js"
    integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
    crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js" integrity="sha512-dqw6X88iGgZlTsONxZK9ePmJEFrmHwpuMrsUChjAw1mRUhUITE5QU9pkcSox+ynfLhL15Sv2al5A0LVyDCmtUw==" crossorigin="anonymous"></script>
    <script defer src="/static/auth/firebaseconfig.js"></script>
    <script defer src="/static/auth/signin.js"></script>

    <!--FINAL TAG-->
    <script defer src='/static/load/finished_loading.js'></script>
</body>
</html>